* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #00c3da;
}
.com-color{
    color:var(--main-color);
}
h1 {
    font-size: 78px;
    letter-spacing: -3px;
    line-height: 1.25;
    font-weight: 700;
}

.home img {
    width: 70%;
    height: 100vh;
}

.layer {
    width: 50%;
    height: 50%;
}

.btn {
    background-color: var(--main-color);
    color: #fff;
    width: 18%;
    height: 17%;
}

.btn-tr {
    background-color: transparent;
}

.btn1:hover {
    position: absolute;
    position: relative;
    top: 5%;
    right: 1%;
}

.btn-tr:hover {
    background-color: #fff;
    color: #000;
}

.home {
    position: relative;
}

.layer-ft {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.544);
}
.navbar{    
    width: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: rgba(255, 255, 255, 0.531) 1px solid;
    border-top: rgba(255, 255, 255, 0.498) 1px solid;
}
.nav1{
    border-right: rgba(255, 255, 255, 0.498) 1px solid;
}

.price {
    background-color: rgba(220, 220, 220, 0.326);
}

.note {
    width: 250px;
    margin: auto;
}

.v-note {
    width: 250px;
    height: 500px;
}

.price-content h2 {
    font-size: 50px;
}

.contents {
    font-size: 15px;
}

.demo:hover{
background-color:cadetblue;
}
.title{
    position: relative;
    width: 30%;
    
}
 .title h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #28282813;
}
 .title h3 {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  bottom: 0% !important;
  color: #282828 !important;
  
}
 .title h3::after{
    content: "";
    width: 40%;
    position: absolute;
    top: 115%;
    left: 30%;
    background-color: #282828;;
    height: 1px;
    
}
.container {
font-size: 18px;
color: #999;
margin-bottom: 70px;
}

.progress{
 
  height: 4px;
}
.progress-bar{
  color: var(--main-color);
}

/* Start About */
.second-about h1 {
    position: relative;
}

.second-about h1::after {
    content: "";
    width: 25%;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0078ff;
}

.second-about p {
    font-size: 19px;
    line-height: 1.6;
}

/* End About */