
.price {
    background-color: rgba(220, 220, 220, 0.326);
}

.note {
    width: 250px;
    margin: auto;
}

.v-note {
    width: 250px;
    height: 500px;
}

.price-content h2 {
    font-size: 50px;
}

.contents {
    font-size: 15px;
}

.demo:hover{
background-color:cadetblue;
}